:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

html,
body {
  margin: 0;
}

.content {
  padding: 20px;
}

.centered {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

body {
  background-color: var(--base);
}

* {
  color: var(--text);
  font-family: "JetBrains Mono", monospace;
  font-size: 12pt;
}

input {
  background-color: var(--surface1);
  border: none;
}
button {
  background-color: var(--mantle);
  border: 1px solid var(--crust);
}
button:hover {
  background-color: var(--pink);
  color: var(--base);
}
textarea {
  background-color: var(--surface0);
  border: 1px solid var(--surface1);
}

.form-items {
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.form-filters {
  gap: 5px;
}

.form-dates {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.form-dates input {
  border: 1px solid var(--mauve);
}

.form-dates button {
  padding: 3px 5px;
}

.moodle-login {
  gap: 5px;
}
.moodle-block {
  text-align: center;
  background-color: var(--mauve);
  color: var(--base);
  padding: 2px 5px;
}

.moodle-labels,
.moodle-inputs {
  gap: 5px;
}

.moodle-login input {
  border: 1px solid var(--mauve);
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1000px;
}

.rule_name {
  background-color: var(--surface1);
  border: none;
}

#result {
  padding-bottom: 100px;
}

.rule {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid var(--lavender);
  border-radius: 10px;
  justify-content: space-between;
}

.error {
  color: var(--red);
  text-align: center;
}

.delete_rule:hover,
.delete_filter:hover {
  background-color: var(--red) !important;
}

#submit:hover {
  background-color: var(--green);
}

.result_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 0;
}

.result_items * {
  text-align: left;
}

.result_date {
  color: var(--peach);
  margin: 5px 0;
}

#result .result_table {
  border: 1px solid var(--surface0);
  padding: 15px 0;
  gap: 40px;
  border-collapse: collapse;
}

#result .result_table th,
td {
  border: 1px solid var(--surface1);
}

#result > .result_items > .result_table > .result_table_head th {
  padding: 8px;
}

#result > .result_items > .result_table > .result_table_body td {
  padding: 8px;
}

.result_table_head > tr > th {
  color: var(--yellow);
}

#add_rule,
.add_filter,
#submit,
.delete_rule {
  height: 35px;
}

.timetaken {
  color: var(--subtext0);
}

#delete_filter {
  height: 50px;
}

.date-block {
  background-color: var(--mauve);
  color: var(--base);
  padding: 2px 5px;
}

.type-block {
  background-color: var(--lavender);
  color: var(--base);
  padding: 1px 5px;
  font-size: 10pt;
}

#today,
#this_week {
  height: 100%;
}

.filter-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filter {
  flex: 1;
  font-size: 10pt;
  border: 1px solid var(--crust);
}

.rule-controls {
  gap: 5px;
}

.type-row {
  flex-wrap: nowrap;
}

.rule_name {
  font-size: 10pt;
  border: 1px solid var(--lavender);
}

.subtext {
  color: var(--subtext0);
}

#report {
  padding: 0 30px;
  gap: 15px;
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid var(--overlay0);
    text-align: left;
    padding: 5px;
  }

  th {
    color: var(--peach);
  }
}
