{% extends "base.html" %}


{% block head %}
    <meta property="og:description" content="sicsr timetable without the bs" />
    <meta property="og:title" content="chronicler" />
    <meta property="og:site_name" content="chronicler">
	<meta name="theme-color" content="#A6E3A1">
	<title>chronicler/about</title>
{% endblock %}


{% block content %}

<style>
    .about-content {
        text-align: left;
        max-width: 800px;
        margin-bottom: 100px;
    }
    .about-content > p {
        margin: 0;
        padding: 0;
    }
    hr {
        color: var(--surface1);
    }

    code {
        font-family: monospace;
        background-color: var(--crust);
    }

</style>
<div class="about-content">
<p>
    The SICSR timetable is stupidly painful to use. Spending more than 5 seconds to find out where and when your classes are is a sin.
    chronicler is a fast and flexible alternative. It also lets you see your moodle attendance and a list of empty classes. <br><br>
    <span class="subtext">chronicler is <a href="https://github.com/zeffo/chronicler">open-source</a>. contributions are welcome!</span>
    <br>
    <hr>
    Add a RULE for each course. If the course has classes for multiple divisions, you can add FILTERs, which are regular expressions, to exclude any irrelevant classes. <br>
    Once you've created your rules, they'll be stored on your device forever. <br><br>
    An example rule: <br><br>
    <div class="rule">
        <div class="type-row container row">
            <span class="type-block">Type</span><select class="rule_name" >
                <option selected>BCA (IV) - Elective - Group II - GroupA</option>
            </select> 
        </div> <br>
        <div class="form-filters container column">
            <div class="filter-row"><input type='text' class='filter' value="Div.? ?A"/><button type='button' class='delete_filter'>X</button></div>
        </div>
        <div class="rule-controls container column">
            <button type="button" class="add_filter"> Add Filter </button>
            <button type="button" class="delete_rule"> Delete Rule </button>
        </div>
    </div>

    <br>

    This will include all classes under the type <code>BCA (IV) - Elective - Group II - GroupA</code>.
    Since this includes class for both divisions A and B, we can use a regex filter to include only the classes for division A.
    <code>Div.? ?A</code> will filter out any results that do not contain <code>Div A</code>, <code>Div.A</code>, <code>Div. A</code> or <code>DivA</code>.
</p>
</div>


{% endblock %}
