{% extends "base.html" %} {% block head %}
<meta property="og:description" content="sicsr timetable without the bs" />
<meta property="og:title" content="chronicler" />
<meta property="og:site_name" content="chronicler" />
<meta name="theme-color" content="#A6E3A1" />
<title>chronicler/free_classes</title>
{% endblock %} {% block content %}
<span style='text-align: left; margin: 0; padding: 0;'> 
  Search for empty classrooms
</span>
<div id="fc-form" class="g-5 container column">
  <div class="container row g-5">
    <div><span class="form-block">Time</span><input id="time" class="form-input" type="time"></input></div>
    <div><span class="form-block">Room</span><select id="room" class="form-input room-select">
        <option value="All" selected>All</option>
        {% for room in classes %}
            <option value="{{ room }}">{{ room }}</option>
        {% endfor %}
      </select></div>
  </div>
  <div class="container row"><span class="form-block">Date</span><input style="flex: 1" id="date" class="form-input" type="date"</input></div>
  <button type="submit" id="submit">Search</button>
</div>
<div class="timetaken"></div>
<div id="result">
  <div id="free-classes">
  </div>
</div>

<script>
  var result = "#free-classes";
  $(document).on("click", "#submit", () => {
    $(result).children().remove();
    let payload = {};
    let time = $("#time").val();
    payload["time"] = time ? time : null;
    let date = $("#date").val();
    payload["date"] = date ? date : null;
    payload["room"] = $("#room").val();
    $.ajax({"data": JSON.stringify(payload), "method": "POST", "contentType": "application/json"})
      .done((data) => {
        let res = $(result);
        $(".timetaken").text(`Completed in ${data['time']}s`);
        for (const [room, entries] of Object.entries(data["entries"])) {
          if (entries.length == 0) {
            continue;
          }
          res.append("<div><table class='room'></table></div>")
          let table = res.find(".room").last();
          table.append(`<thead><tr><th colspan="3" class="room_number">${room}</th></tr><tr><th>start</th><th>end</th></tr></thead>`);
          table.append("<tbody></tbody>");
          let tbody = table.find("tbody").last();
          for (const entry of entries) {
            tbody.append("<tr></tr>");
            let row = tbody.find("tr").last();
            row.append(`<td>${entry[0]}</td><td>${entry[1]}</td>`)
          }
        }
      })
      .fail((jqxhr, _text) => {
        $(".timetaken").text(`Request failed: ${jqxhr.status} ${jqxhr.statusText}`)
      });
  });

</script>

{% endblock %}
