<style>
#Footer {
    bottom: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: var(--crust);
    margin-top: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
    column-gap: 150px;
    gap: 150px;
    row-gap: 10px;
}

.footer-row {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 150px;
}

.footer-links a {
    text-decoration: none;
    color: var(--lavender)
}

.footer-links a:hover {
    color: var(--sky);
}

.copyright {
    color: var(--overlay0);
}

</style>


<footer id="Footer" class="container row">
    <div class="footer-row footer-links">
        <a href="https://github.com/zeffo/chronicler"> Source </a> | 
        <a href="https://github.com/zeffo/chronicler/issues/new"> Bug Report </a> | 
        <a href="/tos"> Terms of Service </a>
    </div>
    <div class="footer-row copyright">
        © 2024 Aman Phatak
    </div>
</footer>
