{% extends "base.html" %}
{% block content %}

<style>
    input {
        background-color: var(--overlay0);
        border: none;
    }
    button {
        background-color: var(--mantle);
        border: none;
    }
    button:hover {
        background-color: var(--pink);
        color: var(--base);
    }
    textarea {
        background-color: var(--surface0);
        border: 1px solid var(--surface1);
    }

    .form-items {
        gap: 10px;
        padding: 30px;
    }

    .form-filters {
        gap: 4px;
    }

    .form-dates {
        gap: 20px;
    }

    .form-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        gap: 10px;
    }

    .rule_name {
        background-color: var(--overlay0);
        border: 1px solid var(--surface1);
    }

    .result {
        padding: 100px;
    }

    .rule {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 10px;
        border: 1px solid var(--surface1);
        border-radius: 10px;
    }

    .error {
        color: var(--red);
        text-align: center;
    }

    .delete_rule:hover, .delete_filter:hover {
        background-color: var(--red) !important;
    }

    #submit:hover {
        background-color: var(--green);
    }

    .result_items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px;
    }

    .result_items * {
        text-align: left;
    }

    .result_date {
        color: var(--peach);
        margin: 5px;
    }

    #result .result_table {
        border: 1px solid var(--surface0);
        padding: 15px;
        gap: 40px;
        border-collapse: collapse;
    }

    #result .result_table th, td {
        border: 1px solid var(--surface1);
        padding: 8px;
    }
    .result_table_head > tr > th {
        color: var(--flamingo);
    }

    #add_rule, .add_filter, #submit, .delete_rule {
        height: 35px;
    }


</style>

Welcome! Configure your filters to get started:

<form method="post">
    <div class="container column form-items">
        <div class="container row form-dates">
            <div>
                Start:
                <input id="start" name="start" type="date" value="{{ preload['start'] }}"/>
            </div>
            <div>
                End:
                <input id="end" name="end" type="date" value="{{ preload['end'] }}" />
            </div>
        </div>
        <div class="form-grid">
            {% for type in preload["types"] %}
                <div class="rule">
                    <div> Type: 
                        <select class="rule_name">
                            {% for stype in types %}
                                {% if type == stype %}
                                    {% set selected="selected" %}
                                {% else %}
                                    {% set selected="" %}
                                {% endif %}
                                <option value="{{ stype }}" {{ selected }} > {{ stype }} </option>
                            {% endfor %}
                        </select> 
                    </div> <br>
                    <div class="form-filters container column">
                        {% for filter in preload["types"][type] %}
                        <div><input type='text' class='filter' value="{{ filter }}" size=43/><button type='button' class='delete_filter'>X</button></div>
                        {% endfor %}
                    </div>
                    <button type="button" class="add_filter"> Add Filter </button>
                    <button type="button" class="delete_rule"> Delete Rule </button>
                </div>
            {% endfor %}
        </div>
    </table>
    <button id="add_rule" type="button"> Add Rule </button>
    <button id="submit" type="button"> Submit </button>
    </div>
</form>

<div id="result">
</div>

<script>
    $( document ).ready( () => {
        var count = $(".form-grid").length - 2;
        $(document).on("click", ".add_filter", (e) => {
            let parent = $(e.target).parent().find(".form-filters").append("<div><input type='text' class='filter' size=43/><button class='delete_filter' type='button'>X</button></div>");
        });

        $(document).on("click", "#add_rule", () => {
            let rule = `
                <div class="rule">
                    <div> Type: 
                        <select class="rule_name">
                            {% for type in types %}
                                <option value="{{ type }}"> {{ type }} </option>
                            {% endfor %}
                        </select> 
                    </div> <br>
                    <div class="form-filters container column"></div>
                    <button type="button" class="add_filter"> Add Filter </button>
                    <button type="button" class="delete_rule"> Delete Rule </button>
                </div>
            `;
            $(".form-grid").append(rule); 
        });

        $(document).on("click", ".delete_rule", (e) => {
            $(e.target).parent().remove();
        });

        $(document).on("click", ".delete_filter", (e) => {
            $(e.target).parent().remove();
        });

        $(document).on("click", "#submit", () => {
            $("#result").children().remove();
            let payload = {};
            payload["start"] = $("#start").val();
            payload["end"] = $("#end").val();
            payload["types"] = {};
            $(".rule").each( (i, rule) => {
                let items = [];
                $(rule).find(".filter").each( (j, filter) => {
                    items.push($(filter).val());
                });
                let rule_name = $(rule).find(".rule_name").first().val();
                let target = payload["types"][rule_name];
                if (target != null) {
                    payload["types"][rule_name] = target.concat(items); // aggregate duplicate types in the same bucket
                } else {
                    payload["types"][rule_name] = items;
                }
            });
            $.ajax({"data": JSON.stringify(payload), "method": "POST", "contentType": "application/json"}).done((data) => {
                let result = $("#result");
                for (const [date, entries] of Object.entries(data["entries"])) {
                    result.append(`<div class='result_items'><div class="result_date">${date}</div></div>`) 
                    if (entries.length == 0) {
                        result.find(".result_date").last().append("<span class='error'> No entries found! </span>")
                        continue;
                    }
                    let div = result.find(".result_items").last();
                    div.append("<table class='result_table'></table>")
                    let table = div.find(".result_table").last();
                    table.append("<thead class='result_table_head'></thead>");
                    let thead = table.find("thead").last();
                    thead.append("<tr></tr>")
                    let theaders = thead.find("tr");
                    for (const header of data["fields"]) {
                        theaders.append(`<th>${header}</th>`)
                    }
                    table.append("<tbody class='result_table_body'></tbody>");
                    let tbody = table.find("tbody").last();
                    for (const entry of entries) {
                        tbody.append("<tr></tr>");
                        let row = tbody.find("tr").last();
                        for (const header of data["fields"]) {
                            row.append(`<td>${entry[header]}</td>`) 
                        }
                    }
                }
            });
        });
    });


</script>


{% endblock %}
